* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0a5679;
}

html {
    height: 500vh;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1.5s;
    z-index: 1000;
}

header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a {
    color: rgb(0, 0, 0);
}


header .logotipo {
    height: 40px;
    font-size: 20px;
    color: #fff;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

.banner {
    height: 100vh;
    background-image: url(../imagens/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.banner h1 span {
    display: block;
    font-size: 2.5rem;
    font-weight: normal;
    color: #666;
}

.entrar, .inscreva-se {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none; 
    transition: background-color 0.3s ease;
    display: inline-block; 
}

.entrar {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.entrar:hover {
    background-color: #fff;
    color:#20252b ;
}

.inscreva-se {
    background-color: #3899c1 ;
    color: #fff;
}

.inscreva-se:hover {
    background-color: #20252b;
}
